[core]
    editor = vim
[http]
	proxy = SET_PROXY
[user]
	name = SET_USERNAME
    email = SET_EMAIL
[alias]
    st = status
    co = checkout
    br = branch
    last = log -n 1
    resetlast = reset --hard HEAD~1
